.menubutton {
	-fx-background-color: linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
	-fx-background-radius: 30;
	-fx-backgound-insets: 4;
	-fx-padding: 10;
}
.menubutton:hover {
	-fx-background-color: red;
	-fx-background-radius: 30;
	-fx-backgound-insets: 4;
	-fx-padding: 10;
}
.menubutton:pressed {
	-fx-background-color: orange;
}
.cartbutton {
	-fx-background-color: #DCDCDC;
	-fx-border-color: black;
	-fx-border-width: 3 0 3 3;
	-fx-border-insets: 1px;
}
.modifybutton{
	-fx-background-image: url('/imgs/editbuttonGold.png');
	-fx-background-size: stretch;
}
.modifybutton:hover{
	-fx-background-image: url('/imgs/editbuttonWhite.png');
	-fx-background-size: stretch;
}
.modifybutton:pressed{
	-fx-background-image: url('/imgs/editbuttonOrange.png');
	-fx-background-size: stretch;
}
.amountbutton {
	-fx-background-color: gold;
	-fx-border-color: black;
	-fx-border-width: 3;
	-fx-border-insets: 1px;
}
.deletebutton {
	-fx-background-color: #ff0000;
	-fx-border-color: black;
	-fx-border-width: 3;
	-fx-border-insets: 1px;
}
.amountbutton:hover {
	-fx-background-color: white;
}
.amountbutton:pressed {
	-fx-background-color: orange;
}
.deletebutton:hover {
	-fx-background-color: white;
}
.deletebutton:pressed {
	-fx-background-color: orange;
}
.categorybutton {
	-fx-background-color: orange;
	-fx-border-insets: 5px;
	-fx-border-width: 3;
	-fx-border-color: black;
}
.categorybutton:hover {
	-fx-background-color: gold;
}
.categorybutton:pressed {
	-fx-background-color: white;
}