.engbutton{
	-fx-background-image: url('/imgs/eng.png');
	-fx-background-size: stretch;
}
.finbutton{
	-fx-background-image: url('/imgs/fin.png');
	-fx-background-size: stretch;
}
.startbutton{
	-fx-background-image: url('/imgs/defaultscreen.jpg');
}
.logoplacer{
	-fx-background-image: url('/imgs/logo.png');
	-fx-background-size: stretch;
}